.env*
!.env.example
package-lock.json
yarn.lock
npm-shrinkwrap.json
!pnpm-lock.yaml
node_modules

# Editor: Cursor
.cursor/
.cursorrules

# Turborepo: cache directory
.turbo/

PROMPTS.md

/scripts/config/*.conf
!/scripts/config/server.conf.example

/outdated
