APP_ENV=qa
DOMAIN=localhost
NODE_ENV=development
SSL_ENABLED=false
DB_PORT=5435
DB_NAME=hic
DB_USER=hic_user
DB_PASSWORD=hic_password

# Frontend specific variables
FRONTEND_PORT=5001
NEXT_PUBLIC_BACKEND_URL=http://localhost:7001
NEXT_PUBLIC_DOMAIN=localhost

# Backend specific variables  
BACKEND_PORT=7001